html {
	position: relative; 
    min-height: 100%; 
}
.links {
    font-size: 1px;
}

.spaceTwo{
    height: 10px;
}

.spaceThree{
    height: 20%;
}
body{
    font-family: "montseratt", sans-serif;
    background-size: cover;
    background-color: #96564C!important;
    background-position: top center;
    border: 10px solid #96564C;
}

.bgColor{
  background-color: #ffffff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  /* Full height */
  height: 100%; 
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.BackgroundImage {
  background: url('redhouse.jpg') center center;
  /* Full height */
  height: 100%; 
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.infoStart{
    color:white;
}

.blockquote-footer .start {
    color: white!important;
}
.insta{
    margin-top: 10vh;
    margin-left: 70px; 
    margin-right: 70px;  
}
#infoTextStart{
    color:white;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin-right:100px;
}
.container{

}
.containerStart{
    background-color: #ffffff;
    padding:15px;
}
.card-group{
   
   margin:10;
   margin-top: 5vh;
    margin-bottom: 10vh;
}
.card{
   width: 100%;
}
.border{
    border-bottom: solid #dcdcdc;
    width: 30vh;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;   
}
.ml-auto{
    color: blue;
}
.main{
   height:100vh;  
}

.mainAbout{
    min-height:100vh;   
}
.mainContact {
    height:100vh;   
}
.mainFirstPage{
    height:90vh;
    overflow: auto;
}
.navbar-nav{ 
    text-align: center;
    border-color:#daa92e!important;
}

.navbar-toggler-icon{
    content: #daa92e!important;
}

.navbar-toggler { 
    border-color:#daa92e!important;
    color:#daa92e!important;
}

.navbar{
    border-style: solid;
    border-bottom: none;
    border-color: #dcdcdc;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.navbar-brand{
    color:#daa92e!important;
    margin:10px;
}

.text-center{
    margin: auto;
    margin-top:10vh;
    font-size:8vh;
    font-weight: 800;
    color:  rgb(255, 255, 255);;
}

.btn-outline-light{
    vertical-align: center;
    margin:5vh;
    color:#FFFFFF;
}
.btn-outlin-primary{
    color: rgb(40, 84, 123);
}

.text{
    font-size: 10px;
    margin: 10px;
    margin-top:5vh;
    text-align: center;
}
.page-footer{
    background: #dcdcdc;
    height: 20vh;
    text-align: center;
    position: relative;
	bottom: 0;
	left: 0;
	right: 0;
}
.navbar {
    background: #dcdcdc;
}
.nav-item{
    font-size: large;
    margin:10px;
    font-weight: 700;
}
.btn-warning{
   margin:10px;
   margin-top: 2.5vh;
   background-color: #dcdcdc!important;
   border-color:#dcdcdc!important;
   color:#daa92e!important;
   font-size: 25px!important;
}
.btn-warning:hover{
    color: #96564C!important; 
    transform: scale(0.95)!important;
}
.nav-link{
    color:#daa92e!important;
    font-family: "montserrat", sans-serif!important;
    font-weight: 500!important;
}
.nav-link:hover{
    color: #96564C!important; 
    transform: scale(0.95)!important;
  
}
.contactheader{
    margin:3vh;
}
.projectsHeader{
    margin-top:3vh;
}
.h3{
    margin: 10vh;
}
.headLine{
    font-size: 4rem;
    color: #96564C;
    text-align: left;
}
.headlineProjects{
    
    font-size: 4rem;
    color: #96564C;
    text-align: left;
}
.headlineStart {
    margin-Top: 10vh;
    font-size: 4rem;
    color: #ffffff;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}
.subLine{
    font-size: 2rem;
    color: #96564C;
    text-align: left; 
}
.col-md-3{
    font-size: x-small;
    text-align: center;
}
.p-2{
    margin:3vh; 
}
.place{
    margin-bottom:17%;
    margin:8vh;
}
.mail{
    margin:8vh;
}
.phone{
    margin:8vh;
}
.footer-copyright{
    position: absolute;
    justify-items: center;
    right:0;
    left:0;
    bottom:0;
    margin-top: 20px;
    font-size: x-small;
}
.space{
    height:5vh;
    background-color: #ffffff;
    width: 100%;
}
.box {
    background: #dcdcdc;
    height: 12vh;
    text-align: center; 
    justify-content: center; 
    position: relative;
    bottom: 0;
    border-style: solid;
    border-bottom: none;
    border-color: #dcdcdc;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top:none;
    width: 100%;
    left:0;
    right:0;
}
.btn-primary{
    padding-left: 50px!important;
    padding-right: 50px!important;
    background-color: #daa92e!important;
    border-color:#daa92e!important;
    color:#ffffff!important;
    font-size: large!important;
    font-family: 'Roboto', sans-serif;
    margin-top: 10vh;
}

.btn-primary:hover{
    color: #96564C!important;
    transform: scale(0.95)!important;
}

#blockquote-footer{
    margin-bottom: 10vh;
}
.blockquoteAbout{
    margin-bottom:5vh;
    text-align: left; 
}
#blockquoteStart{
    color: white;
}
.blockquoteContact{
    margin-bottom: 5vh;
    
    text-align: left; 
}
.lead{
    text-align: left;

}
.hej{
    color: white;
}
.rounded{
    margin-top:7vh;
    width: 60vh;
    height:45vh;
}
.projectImage{
    width: 60vh;
    height:55vh;
}
#map{
    margin-top:4vh!important;
    width: 55vh!important;
    margin-left: 5vh;
    margin-bottom: 15vh;
    height:45vh!important;
    border: 1px solid #ffffff!important;
  border-radius: 70%!important;
  background-color: #fff!important;
}
#map .top {
    margin-top: -20px!important;
  }
.contactInfoFirstPage{
 margin-top:12vh;
 justify-items: center;
 text-align: center; 
}
.aboutInfo{
    margin-top:1vh;

    justify-items: center;
    text-align: center; 
}
#about{
    margin-top: 10vh;
    margin-left: 70px; 
    margin-right: 70px;  
}


#ContactView{
    margin-top: 10vh;
}
.contactInfo{
    justify-items: center;
    text-align: center; 
}

#imageProfil{
    border-style: none !important;
    border-width: none !important;
}

.iconStyle{
    margin-bottom: -2px!important;
}

.icon{
    margin-bottom: -4px!important;
}

.mb-0{
    text-align: left;
}
.listView{
    margin-top: 35px;
}

.list-group-item{
    border-style: none!important;
}

   #more {display: none;}
/* Media screens*/

@media only screen and (max-width: 700px) {

.insta{
    margin-top: 5vh;
    margin-left: 0px; 
    margin-right: 0px;  
}
.navbar-brand{
    color:#daa92e!important;
    margin: -4px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    }
.headlineStart {
    margin-Top: 7vh;
    font-size: 2rem;
    color: #ffffff;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}
#infoTextStart{
    color:white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-right:20px;
}
.headLine{
    margin-Top: 3vh;
    font-size: 3rem;
    color: #96564C;
    text-align: left;
}

#about {
    margin-top: 0vh;
    text-align: center;
    margin-left: 0px; 
    margin-right: 0px;  
}

#aboutContact{
    margin-top: 0vh;
    text-align: center;
    margin-left: 0px; 
    margin-right: 0px;  
}

#map{
    width: 34vh!important;
    height:29vh!important;
    margin: auto;
    margin-top:2vh!important;
    width: 40%;
    padding: 10px;
    border: 1px solid #ffffff!important;
    border-radius: 70%!important;
    background-color: #fff!important;
}

#map .top {
    margin-top: -30px!important;
  }


.mainFirstPage{
    height:80vh;
    overflow: auto;
}

.main{
    height:140vh;   

 }
 
 .aboutInfo{
    margin-top:4vh;
    justify-items: center;
    text-align: center; 
}

.mainContact {
    height:100vh;   
}
}


@media only screen and (max-width: 1100px) and (min-width: 700px) {


    .mainContact {
        height:100vh;   
    }
    .insta{
        margin-top: 5vh;
        margin-left: 10px; 
        margin-right: 10px;  
    }
    .img-thumbnail{
        margin-top: 5vh;  
    }
    #about {
        margin-top: 10vh;
        text-align: center;
        margin-left: 10px; 
        margin-right: 10px;  
    }

    #aboutContact{
        margin-top: 10vh;
        text-align: center;
        margin-left: 10px; 
        margin-right: 10px;  
    }
    
    #map{
        width: 32vh!important;
        height:27vh!important;
        margin: auto;
        margin-top:30;
        width: 40%;
        padding: 10px;
        border: 1px solid #ffffff!important;
        border-radius: 70%!important;
        background-color: #fff!important;
    }
    
    #map .top {
        margin-top: -20px!important;
      } 
    }

    @media only screen and (max-width: 370px) {
        .space{
            height:5vh;
            background-color: #ffffff;
            width: 100%;
        }
        .lead{
            text-align: left;
        }
        .mainContact {
            height:110vh;   
        } 
        .mainFirstPage{
            height:100vh;
        }
        .main{
            min-height:1
            10vh;   
         }   
    }
    @media only screen  and (min-device-width: 768px) 
    and (max-device-width: 1154px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 1){
    
         #about{
            margin-top: 5vh;
        }
        #aboutContact{
            margin-top: 5vh;
        }
        #map{
            margin-top: 5vh;

        }

}


@media only screen and (max-width: 330px) {
    .box {
        background: #dcdcdc;
        height: 15vh;
        text-align: center; 
        justify-content: center; 
        position: relative;
        bottom: 0;
        border-style: solid;
        border-bottom: none;
        border-color: #dcdcdc;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top:none;
        width: 100%;
        left:0;
        right:0;
    }


    .mainFirstPage{
        height:75vh;
        overflow: auto;
    }


    .btn-primary{
        padding-left: 50px!important;
        padding-right: 50px!important;
        background-color: #daa92e!important;
        border-color:#daa92e!important;
        color:#ffffff!important;
        font-size: large!important;
        font-family: 'Roboto', sans-serif;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }

}



